@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

/* --------Color Variable------ */
:root {
    --btn-color: #331DFF;
    --menu-hover:#8F3EEB;

    --white: #fff;
    --black: #000;
}

/* -------Common Style------ */
.Button{
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--btn-color);
    color: var(--white);
}
.Button-center{
    text-align: center;
}
.description{
    font-size: 15px;
    color: #292F36;
}

/* ---------Navbar--------- */
.navbar {
    /* position: static;
    top: 0; */

    /* margin-top: 10px; */
    padding: 20px;
    box-shadow: 0px 4px 30px 0px rgba(104, 70, 255, 0.26);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-icon{
    font-size: 30px;
    display: none;
}

.menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: var(--black);
}
.menu ul li a:hover {
    color: var(--menu-hover);
}

/* -----------Hero Section------- */

.hero{
    margin-left: 120px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: self-end;
}
.hero-text{
    max-width: 600px;
}
.hero-text h6{
    font-size: 20px;
    color: #FC5B3A;
    letter-spacing: 20px;
}
.hero-text h2{
    font-size: 55px;
    font-weight: 700;  
}
.hero-text h2 span{
   color: blue;
}
.payment-description{
    padding-block: 25px;  
}
.payment-button{
    padding-block: 25px;
}
.Btn{
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #8f3eeb;
    color: var(--black);
}
.Btn:hover{
 
    background-color: var(--btn-color);
    color: var(--white);
}
.card-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.card h3{
    font-size: 50px;
    font-weight: 700;
    color: #6846FF;
}
.card p{
    font-size: 15px;
    font-weight: 400;
    color: #292F36;
}
.hero-image{
    max-width: 700px;
    height: 580px;
    
}
.hero-image img{
    max-width: 100%;
    height: 100%;
    
   
}

/* -------------Most User Section--------- */
#most-user-section{
    padding-top: 100PX;
}
.contant-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
.most-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/image-20.png);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position-y: 100px;
}

.most-user-image{
    max-width: 50%;
    padding: 50px;
    background-image: url(../img/Ellipse-64.png);
    /* background-position: center; */
    background-position-x: 97%;
  background-position-y: 68%;
  background-repeat: no-repeat;
  background-size: 70% 70%;
}
.user-image{
    max-width: 500px;
    
}
.user-image img{
    width: 100%;
    
}


.most-user-text{
    max-width: 45%;
}
.most-user-text .most-user-title{
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 15px;
    color:  #292F36;
}
.most-user-text .most-user-title span{
 color:#6846FF;
}

.quick-step-title{
    font-size: 15px;
    font-weight: 500;
    color: #6846FF;
    padding-block: 25px;
}

.quick-step{
    border-left: 1px dashed #8f3eeb;
    padding: 0 20px 0 30px;
}
.quick-step-service{
    font-size: 16px;
    position: relative;
    margin-bottom: 20px;
}
.quick-step-service h2{
    font-size: 20px;
    font-weight: 500;
    color: #292F36;
}
.quick-step-service {
    font-size: 15px;
    font-weight: 200;
    color: #292F36;
}
.quick-step-service:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid wheat;
    background-color: #8f3eeb;
    position: absolute;
    top: 5px;
    left: -39px;
}

/* ------------Our Services------------------ */
#services-ssection{
    padding-block: 50px;
}
.services-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #292F36;
    padding: 15px;
}
.break{
    display: block;
}
.services-description{
    text-align: center;
    font-size: 15px;
    color: #292F36;
    padding: 15px;
}
.services-card-wrapper{
    padding-block: 50px;
    padding-inline: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 30px;
    
  
}


.services-card{
    max-width: 350px;
    padding: 30px 10px;
    box-shadow: 0 0 10px gray;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    transition: 0.5s;
}

.services-card:hover {
    background-color: #6846FF; 
    color: white; 
}

.services-card:hover .services-card-title,
.services-card:hover .services-card-description {
    color: white; 
}

.services-card-title{
    font-size: 22px;
    font-weight: 600;
    color: #6846FF;
}
.services-card-description{
    font-size: 13px;
    font-weight: 500;
    color: #292F36;
    padding-block: 10px;

}
/* ---------online payment--------- */
#online-payment{
    padding-block: 50px;
}
.online-payment-wrapper{
    display: flex;
    justify-content: space-between;
}
.online-payment-text{
    padding: 15px;
    max-width: 60%;
}
.online-payment-title{
    font-size: 40px;
    font-weight: 700;
    color: #292F36;
}
.payment-description{
    padding-block: 15px;
}
.partner-card{
    max-width: 400px;
    padding-top: 30px;
    display: flex;
    align-items: self-start;
    gap: 20px;
}
.partner-icon{
    font-size: 25px;
    color: white;
    background-color: #331DFF;
    padding: 10px;
    border-radius: 50%;
}
.trusted-partner{
    font-size: 25px;
    background-color: white;
    color: #331DFF;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
}
.partner-text h3{
    font-size: 20px;
    color: #292F36;
}
.partner-text p{
    font-size: 13px;
    color: #292F36;
    padding-block: 15px;
}
.partner-image{
    width: 90px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 5px gray;
}

.partner-image img{
    width: 100%;
}
.online-payment-image{
    max-width: 40%;
    padding: 15px;
}
.pi-2{
    margin-top: -290px;
    margin-left: -105px;
}
.pi-2 img{
    border: 7px solid white;
}
.client-number{
    max-width: 250px;
    height: 250px;
    background-color: #6846FF;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -362px;
    margin-left: 143px;
    color: white;
}
.client-number h5{
  font-size: 25px;
}

/* --------------Support Integrations.------------- */

#support-section{
    margin-top: 80px;
    padding-block: 30px;
}
.support-title{
    font-size: 35px;
    color: #292F36;
    text-align: center;
    padding: 30px 15px;
}
.media-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
.media{
    width: 250px;
    height: 90px;
    background-color: red;
    
    border-radius: 9px;
    background-color: #f0f0f0a6;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.media:hover{
    box-shadow: 3px 3px 5px black;
}
.media img{
    width: 150px;
    height: 50px;
    
    
}

/* --------------Smart payment------------- */


.smart-payment-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.smart-payment-image{
    max-width: 50%;
}
.smart-payment-image img{
    width: 100%;
}
.smart-payment-title{
    font-size: 35px;
    font-weight: 700;
    color: #292F36;
}
.smart-description{
    padding-top: 20px;
    padding-bottom: 40px;
}
.smart-payment-text{
    max-width: 50%;
}